<div class="row text-center">
<h4>Day View</h4>
</div>
<div class="row">
	<div class="col-xs-5 col-xs-offset-2">
		<div class="row">
			<div class="col-xs-6">
				<i class="glyphicon glyphicon-road"></i>&nbspSteps Taken
			</div>
			<div class="col-xs-6">
				2000 Steps
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<i class="glyphicon glyphicon-fire"></i>&nbspCalories Burned
			</div>
			<div class="col-xs-6">
				679 Calories
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<i class="glyphicon glyphicon-time"></i>&nbspPeak Timeframe
			</div>
			<div class="col-xs-6">
				6pm - 7pm
			</div>
		</div>
	</div>
	<div class="col-xs-5">
		<div class="row">
			<div class="col-xs-6">
				<i class="glyphicon glyphicon-plane"></i>&nbspDistance Traveled
			</div>
			<div class="col-xs-6">
				8.4 miles
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<i class="glyphicon glyphicon-flash"></i>&nbspActive Minutes
			</div>
			<div class="col-xs-6">
				67 Minutes
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<i class="glyphicon glyphicon-heart"></i>&nbspAverage HeartRate
			</div>
			<div class="col-xs-6">
				100 bpm
			</div>
		</div>
	</div>
</div>